.summary{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}

.summary .summary-title{
    font-size: 1.8rem;
    text-align: center;
}

.summary-buttons{
    display: flex;
    
}

.summary-buttons button{
    margin: 10px;
    padding: 12px 25px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--text-color);
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid rgb(19, 19, 19);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--bg-color-box);
   
}

.summary-buttons button:hover{
    color: white;
    box-shadow: inset 0 -100px 0 0 var(--bg-color-opacity);
}

.summary-buttons button:active{
    transform: scale(0.9);
}

.summary-buttons button a{
    text-decoration: none;
    color: var(--text-color);
}


.summary-redes{
    max-width: 230px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.summary-redes img{
    margin-top: 5px;
    width: 25px;
    transition: all 0.2s ease-in-out;
}

.summary-redes img:hover{
    transform: translateY(-10px);
}


.summary-redes-foto img{
    width: 150px;
    border-radius: 20%;
}

.summary .summary-content{
    margin-top: 10px;
    font-size: 21px;
    font-family: 'font-popins-light',sans-serif;
    text-align: center;
    color: var(--text-color);
    max-width: 1200px;
}

.summary .summary-content span{
    color: black
}

.summary-history{
    text-align: center;
}

.summary-history h3{
    font-size: 2.5rem;
}

.summary-history p{
    font-size: 1.2rem;
    font-family: 'font-popins-light',sans-serif;
    max-width: 1200px;
}

.summary-history p span{
    color: var(--bg-color-box)
}

@media (min-width:768px) {
    .summary{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        max-width: 1200px;
        margin: auto;
        margin-top: 5rem;
    }

    .summary-title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 2rem;
        align-items: center;
        
    }

    .summary-title h2{
        font-size: 3rem;
        text-align: center;
    }

    .summary-redes-foto{
        max-width: 200px;
        min-width: 200px;
        margin-right: 50px;
    }

    .summary-redes-foto img{
       width: 100%;
    }

    .summary-buttons{
        margin-top: 2rem;
    }

    .summary-buttons button{
        margin: 10px;
        padding: 15px 25px;
    }

    .summary-buttons button a{
        font-size: 1.3rem;
    }

    .summary-redes img{
        width: 45px;
    }

    .summary-content{
        max-width: 1500px;
    }

    .summary-content p{
        text-align: center;
        max-width: 100%;
        font-size: 2rem;
    }
    
    .summary-history h3{
        font-size: 3.5rem;
    }

    .summary-history p{
        font-size: 1.8rem;
    }
}

@media (min-width:1027px) {

   .summary{
    margin-top: 150px;
   }

    .summary-redes-foto{
        max-width: 350px;
        min-width: 200px;
    }

    .summary-title{
        display: flex;
        gap: 5rem;
    }

    .summary-title h2{
        font-size: 4rem;
        max-width: 600px;
    }

    .summary-title .summary-title-content h3{
        color: var(--box-color)
    }

}